# Data.gov.in
DATA_GOV_API_KEY=
DATA_GOV_RESOURCE_ID=35985678-0d79-46b4-9ed6-6f13308a1d24

# Default filters for commodity fetch/forecast
DATA_GOV_STATE=
DATA_GOV_DISTRICT=
DATA_GOV_COMMODITY=

# Optional paths
DATA_GOV_OUT_CSV=data/raw/live/datagov_commodity.csv
FORECAST_OUT_CSV=data/processed/forecast_15d.csv
