APP_BASE_URL = "https://your-app-name.streamlit.app"

DATA_GOV_API_KEY = ""
DATA_GOV_RESOURCE_ID = "35985678-0d79-46b4-9ed6-6f13308a1d24"
MAPSCO_API_KEY = ""
GOOGLE_GEOCODING_API_KEY = ""

SMTP_HOST = "smtp.gmail.com"
SMTP_PORT = "587"
SMTP_USER = "your-email@example.com"
SMTP_PASS = "your-app-password"
SMTP_FROM = "your-email@example.com"
